<p></p>
<form class="container">
  <div class="form-group row align-items-start">
    <label for="id">学号</label>
    <input type="number" class="form-control" id="id" placeholder="请输入学号">
  </div>
  <div class="form-group row align-items-center">
    <label for="name">姓名</label>
    <input type="text" class="form-control" id="name" placeholder="请输入姓名">

  </div>
  <div class="form-group row align-items-end">
    <label for="exampleInputPassword1">密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group row align-items-end">
    <button type="submit" class="btn btn-primary btn-lg btn-block">确认</button>
  </div>
</form>



<p></p>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="请输入学号">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">查询</button>
    </div>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <button type="button" class="btn btn-primary">添加学生</button>
    </tr> 
    <p></p>
    <tr>
      <th scope="col">序号</th>
      <th scope="col">学号</th>
      <th scope="col">姓名</th>
      <th scope="col">密码</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-success">编辑</button>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-danger">删除</button>
      </td>
    </tr>
  </tbody>