<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">浙江机电职业技术学院</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{{menu.url}}" *ngFor='let menu of menus'>{{menu.name}}</a>
        </nav>
        <a class="btn btn-outline-primary" [routerLink]="['/login']">登录</a>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">总结及感悟</h1>
        <p class="lead">综合大作业是通过组件之间的交互,利用老师所教授的表单,HTTP,依赖注入,路由的知识,以及额外涉及的模态框知识来完成的.
            因为是综合作业,许多内容与之前所做相似,所以做了许多参照.但更多细节需要耐心思考,整理逻辑.
            在此特谢王宇弘同学,在他的帮助下许多error迎刃而解,框架逻辑也渐渐清晰.</p>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm " *ngFor='let product of product;let i = index'>
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.category}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">${{product.pricing.price}} <small
                            class="text-muted">/{{product.pricing.unit}}</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li *ngFor='let feature of product.features'>{{feature}}</li>
                    </ul>
                    <button *ngIf='i==0' type="button"
                        class="btn btn-lg btn-block btn-outline-primary">{{product.action}}</button>
                    <button *ngIf='i!=0' type="button"
                        class="btn btn-lg btn-block btn-primary">{{product.action}}</button>
                </div>
            </div>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <small class="d-block mb-3 text-muted">© 2017-2020</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#">Cool stuff</a>
                        </li>
                        <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#">Random
                                feature</a></li>
                        <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#">Team feature</a>
                        </li>
                        <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#">Stuff for
                                developers</a>
                        </li>
                        <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#">Another one</a>
                        </li>
                        <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#">Last time</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#">Resource</a>
                        </li>
                        <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#">Resource
                                name</a></li>
                        <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#">Another
                                resource</a></li>
                        <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#">Final
                                resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#">Team</a></li>
                        <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#">Locations</a>
                        </li>
                        <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#">Privacy</a></li>
                        <li><a class="text-muted" href="https://v4.bootcss.com/docs/examples/pricing/#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>


</body>