

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" 
        >学生成绩管理</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="搜索" aria-label="搜索"
        _mstplaceholder="5663684" _mstaria-label="5663684" style="text-align: left;">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link"  [routerLink]="['exit']">注销</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['user']">
                           
                            <font _mstmutation="1" _msthash="1319760" _msttexthash="8569977" >用户管理</font><span
                                class="sr-only" _msthash="1754948" _msttexthash="19431763">（当前）</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['product']">
                           
                            <font _mstmutation="1" _msthash="1320358" _msttexthash="5471518" >学生成绩管理</font>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>